[user]
	email = cdiana.media@gmail.com
	name = Chris
[push]
	default = current
[core]
	excludesfile = ~/.gitignore_global
[color]
	ui = auto
[alias]
	lg = log --pretty=oneline --all --graph --abbrev-commit --decorate