[user]
	email = cdiana.media@gmail.com
	name = Chris Diana
[push]
	default = current
[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/bin/vim
[color]
	ui = auto
[alias]
	lg = log --pretty=oneline --all --graph --abbrev-commit --decorate
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
