[user]
	email = cdiana.media@gmail.com
	name = Chris
[push]
	default = current
[core]
	excludesfile = ~/.gitignore_global
[color]
	ui = auto
[alias]
	lg = log --pretty=oneline --all --graph --abbrev-commit --decorate
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
